@model List<Place>

    
@{
   
}


<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kraj</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Nr Budynku</th>
                <th>Pokój</th>
                <th></th>
            </tr>
        </thead>
        <tbody>



            @foreach (var place in Model)
            {
                <tr>
                    <td>@place.PlaceName</td>
                    <td>@place.Country</td>
                    <td>@place.City</td>
                    <td>@place.Street</td>
                    <td>@place.BuildingNumber</td>
                    <td>@place.Room</td> 
                    <td><a class="btn btn-primary" asp-action="AddAppointment" asp-route-id="@place.PlaceId">Wybierz</a></td>
                </tr>
            }
        </tbody>

    </table>




</div>



