@model List<Place>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row">
   <table class="table table-bordered">
       <thead>
           <tr>
               <th>Nazwa</th><th>Kraj</th><th>Miasto</th><th>Ulica</th><th>Nr Budynku</th><th>Pokój</th><th></th>
           </tr>
       </thead>
       <tbody>



           @foreach (var place in Model)
           {
           <tr>
               <td>@place.PlaceName</td><td>@place.Country</td><td>@place.City</td><td>@place.Street</td><td>@place.BuildingNumber</td><td>@place.Room</td> @place.PlaceId<td><a class="btn btn-primary" asp-action="AddAppointment" asp-route-id="@place.PlaceId">Wybierz</a></td>
           </tr>
           }
       </tbody>

   </table>
   



</div>