@model ManageSpecializationsViewModel
@{
    ViewData["Title"] = "ManageSpecializations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg=12">
            <h1>Specializacje</h1>
        </div>
    </div>


    @foreach (var specialization in Model.specializations)
    {
       
    <form asp-action="RemoveSpecialization">
        <div class="row">
            <div class="col-lg-6">
                <label class="btn btn-warning " for="SpecializationName">@specialization.Name </label>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-danger " type="submit">Usuń</button>
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                <input type="hidden" asp-for="SpecializationId" value="@specialization.SpecializationId" />
                <input type="hidden" asp-for="SpecializationName" value="@specialization.Name" />
            </div>
        </div>
    </form>
        
        <br />



    }


    <form asp-action="AddDoctorDetails" method="get">
        <div class="col-lg-6">
            <button class="btn btn-outline-dark form-control" type="submit">Dodaj specializacje</button>
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />

        </div>
    </form>

</div>
